@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to a list,this.</p>
</div>
<div class="">
    <h1 class="display-4">Let's make a deal</h1>
    <p>Welcome to a list,this.</p>
</div>
